version: "3.9"

services:
  ai-literature-app:
    build: .
    container_name: arxiv-paper-finder
    ports:
      - "8000:8000"
      - "8501:8501"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    restart: unless-stopped